<h1 class="mb-3">About Page</h1>

<div class="row my-5">
  <div class="col text-center">
    <img src="img/arief.jpeg" class="img-fluid rounded-circle mb-3" alt="Arief Saifuddien" width="200">
    <div class="display-4">Arief Saifuddien</div>
    <div class="lead">A Web Developer | App</div>
  </div>
</div>