<div class="card col-lg-6">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= contact.nama %></p>
      <div class="blockquote-footer"><%= contact.email %></div>
      <div class="blockquote-footer"><%= contact.phone %></div>
    </blockquote>
    <a href="/contact" class="btn badge bg-success mt-3">Kembali</a>
  </div>
</div>