<div class="card col-lg-6">
  <div class="card-body">
    <% if (!contact) { %>
    <blockquote class="blockquote">
      <div class="alert alert-danger" role="alert">
        <strong>Nama kosong!</strong>
        <a href="/contact" class="text-dark">Back</a>
      </div>
      <% } else { %>
      <p><%= contact.nama %></p>
      <div class="blockquote-footer"><%= contact.email %></div>
      <div class="blockquote-footer"><%= contact.phone %></div>
    </blockquote>
    <a href="/contact" class="btn badge bg-success mt-3">Kembali</a>
    <% } %>
  </div>
</div>